<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.sf" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>sf</name>
    <description>
        sf sample application that responds to the deviceready event.
    </description>
    <author email="support@phonegap.com" href="http://phonegap.com">
        sf
    </author>
    <content src="index.html" />
    <icon src="icon.png" />
	
</widget>
